html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
  background-color: #f2f4fc;
}

header {
  padding: 28px 40px 60px 40px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle-logo-dimensions {
  width: 80px;
  height: 25px;
}



nav label {
  display: none;
}

nav input {
  display: none;
}


nav ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
  list-style: none;
}

nav a {
  cursor: pointer;
  text-decoration: none;
}

.nav-a-color1 {
  color: #072ac8;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.1px;
}

.nav-a-color2 {
  color: #6b708d;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.1px;
}







.button-Contact-Us {
  cursor: pointer;
  background-color: #072ac8;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.1px;
  padding: 4px 15px 4px 15px;
  border: none;
}

#Home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 0px;
}

.Home1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

#Home main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 0px 0px 20px 40px;
}

#Home article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0px 0px 20px 40px;
}

#Home p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #6b708d;
  margin: 0px;
}

.buttons-getintouch-seeourwork {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 0px 40px;
}

.button-Get-in-touch {
  cursor: pointer;
  background-color: #072AC8;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.1px;
  padding: 2px 8px 2px 8px;
  margin-right: 6px;
  border: none;
}

.button-See-our-work {
  cursor: pointer;
  color: #6b708d;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.1px;
  padding: 2px 8px 2px 8px;
  margin-left: 6px;
  border: none;
}

h1,
h2 {
  margin: 0px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #292e47;
}

.all-hero-images {
  position: relative;
}

.hero-image {
  width: 340px;
  padding: 20px 0px 0px 0px;
}

.card1-image {
  width: 210px;
  position: absolute;
  bottom: 160px;
  right: 180px;
}

.card2-image {
  width: 190px;
  position: absolute;
  top: 255px;
  left: 190px;
}

.airbnb-google-etc-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 0px 100px 0px;
}

.airbnb-image {
  width: 50px;
  filter: grayscale();
}

.google-image {
  width: 50px;
  filter: grayscale();
}

.microsoft-image {
  width: 50px;
  filter: grayscale();
}

.fedex-image {
  width: 50px;
  filter: grayscale();
}

.amazon-image {
  width: 50px;
  filter: grayscale();
}

.Recent-Projects-class {
  padding: 30px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.simplify-dashcoin-vectorify {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#Recent-Projects h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #292e47;
  text-align: start;
  padding: 0px 0px 0px 20px;
}

.x3-image {
  width: 340px;
  height: 240px;
  margin: 0px 0px 0px 0px;
}

.div-3x {
  width: 340px;
  height: 204px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0px 20px 0px;
}

#Recent-Projects h3 {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 20px;
}

#Recent-Projects p {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 0px 20px;
}

#Recent-Projects a {
  margin: 70px 0px 0px 0px;
  padding: 0px 0px 0px 20px;
  font-size: 12px;
  color: #072ac8;
}

.button-learn-more {
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  line-height: 22.1px;
  border: none;
}

#HearWhatOurClientsHavetoSay {
  background-color: #292E47;
  margin: 60px 20px 140px 20px;
  padding: 20px 15px 15px 20px;
}

.memoji-1-image {
  width: 75px;
  height: 75px;
}

.memoji-2-image {
  width: 75px;
  height: 75px;
}

.memoji-3-image {
  width: 75px;
  height: 75px;
}

.memoji-4-image {
  width: 75px;
  height: 75px;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.HearWhatOurClients {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.KristinWatson {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#HearWhatOurClientsHavetoSay h2 {
  font-size: 24px;
  color: #F4F6FC;
  text-align: center;
}

#HearWhatOurClientsHavetoSay h3 {
  font-size: 12px;
  color: #FFC600;
  text-align: center;
}

#HearWhatOurClientsHavetoSay h4 {
  font-size: 9px;
  color: #A2D6F9;
  margin: 8px 0px 2px 0px;
}

#HearWhatOurClientsHavetoSay h5 {
  font-size: 8px;
  color: #F4F6FC;
  margin: 2px 0px 8px 0px;
}

.profile-Kristin-Booking{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Kristin-Booking {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}



#OurServices h2 {
  width: 200px;
  font-size: 24px;
  margin: 0px 0px 20px 0px;
  position: absolute;
  bottom: 360px;
  right: 140px;
}

.Services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-interface {
  width: 340px;
  height: 350px;
  margin: 10px 10px 10px 10px;
  background-color: white;
  position: relative;
}

.icons {
  width: 40px;
  border-radius: 50%;
  background-color:#ECF7FF;
  margin: 20px 20px 10px 20px;
  padding: 15px 15px 15px 15px;
}

.user-interface h4 {
  font-size: 20px;
  margin: 0px 20px 20px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #292E47;
}

.user-interface h5 {
  font-size: 12px;
  margin: 20px 20px 20px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6B708D;
}



.button-learn-more2 {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  line-height: 22.1px;
  border: none;
  margin: 20px 20px 20px 20px;
  position: absolute;
  bottom: 10px;
}

#OurServices a {
  font-size: 12px;
  color: #072ac8;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




footer {
  margin: 40px 100px 30px 100px;
  color: rgba(107, 112, 141, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 9px;
}
.footer-selectors a {
  text-decoration: inherit;
  color: inherit;
  width: 33%;
  font-size: 11px;
}

.footer-selectors {
  display: flex;
  flex-direction: column;

  width: 47%;
}
.footer-selectors div {
  display: flex;
  justify-content: space-between;
}

.footer-selector-down {
  margin-top: 25px;
}


@media (max-width: 667px) {
  header {
    padding: 28px 10px 60px 10px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav label {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 32px;
    color: #072ac8;
    cursor: pointer;
    position: absolute;
    top: 15px;
  }
  
  nav input {
    width: 30px;
    height: 30px;
    margin: 0px;
    cursor: pointer;
    opacity: 0; /*para ocultar el check-box*/
    position: absolute;
    top: 15px;
  }
  
  nav input[type="checkbox"]:checked ~ ul {
    animation: fadein 1s forwards;
    display: block;
  }
  
  nav ul {
    display: none;
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 55px;
  }


  #Home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px 0px 0px;
  }

  .Home1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #Home main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  #Home article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 20px;
  }


  footer {
    margin: 30px 20px 30px 20px;
  }
}

