html,
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(214, 210, 210);
}

header {
  padding: 12vw 0px 8vw 10vw;
  margin: 10px;
  border-radius: 10px;
  background: url('../header.png') no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: row;
}

sidebar {
  display: flex;
  flex-direction: column;
  width: 28vw;
  margin: 10px 5px 10px 10px;
}

sidebar text {
  font-weight: bold;
}

sidebar hr {
  margin: 5px 10px 5px 10px;
}

.sidebar1 {
  background-color:  white;
  border-radius: 10px;
  margin: 0px 0px 5px 0px;
  padding: 5px 0px 5px 0px;

}

.sidebar1 h2 {
  margin: 0px 0px 5px 10px;
  font-size: 3vw;
  background-image: url('../af45f174fc50e99df018b2dc3e5489ec.jpg');
  background-repeat: repeat-x;
  background-position: top;
}

.sidebar1 p {
  color: red;
  font-weight: bold;
  margin: 0px 0px 0px 10px;
  font-size: 2vw;
}

.sidebar1 text {
  font-size: 2vw;
  margin: 0px 0px 0px 10px;
}

.sidebar2 {
  background-color:  white;
  border-radius: 10px;
  margin: 0px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
}

.sidebar2 h2 {
  margin: 0px 0px 5px 10px;
  font-size: 3vw;
  background-image: url('../af45f174fc50e99df018b2dc3e5489ec.jpg');
  background-repeat: repeat-x;
  background-position: top;
}

.sidebar2 p {
  color: red;
  margin: 0px 0px 0px 10px;
  font-size: 2vw;
}

.sidebar3 {
  background-color:  white;
  border-radius: 10px;
  margin: 0px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
}

.sidebar3 h2 {
  margin: 0px 0px 5px 10px;
  font-size: 3vw;
  background-image: url('../af45f174fc50e99df018b2dc3e5489ec.jpg');
  background-repeat: repeat-x;
  background-position: top;
}

.sidebar3 p {
  color: red;
  margin: 0px 0px 0px 10px;
  font-size: 2vw;
}

section {
  display: flex;
  flex-direction: column;
  width: 72vw;
  margin: 10px 10px 10px 5px;
}

section h2 {
  font-size: 3vw;
  margin: 5px 5px 5px 10px;
}

section p {
  font-size: 2vw;
  margin: 5px 10px 5px 10px;
}

section text {
  font-size: 2vw;
  margin: 5px 10px 5px 10px;
}



.sec1 {
  background-color:  white;
  border-radius: 10px;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 50px;
}

.sec1 p {
  background-image: url('../af45f174fc50e99df018b2dc3e5489ec.jpg');
  background-repeat: repeat-x;
  background-position: top;
}

.sec2 {
  background-color:  white;
  border-radius: 10px;
  margin: 0px 0px 5px 0px;
}

.sec2 h2 {
  background-image: url('../af45f174fc50e99df018b2dc3e5489ec.jpg');
  background-repeat: repeat-x;
  background-position: top;
}

.sec3 {
  background-color:  white;
  border-radius: 10px;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 50px;

}

.sec3 h2 {
  background-image: url('../af45f174fc50e99df018b2dc3e5489ec.jpg');
  background-repeat: repeat-x;
  background-position: top;
}

.sec4 {
  background-color:  white;
  border-radius: 10px;
  margin: 0px 0px 5px 0px;
}

.sec4 h2 {
  background-image: url('../af45f174fc50e99df018b2dc3e5489ec.jpg');
  background-repeat: repeat-x;
  background-position: top;
}

.sec5 {
  background-color:  white;
  border-radius: 10px;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 50px;
}

.sec5 h2 {
  background-image: url('../af45f174fc50e99df018b2dc3e5489ec.jpg');
  background-repeat: repeat-x;
  background-position: top;
}