html,
body {
  font-family: 'Roboto';
  font-style: normal;
  background-color: #F4F6FC;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 170px;
  }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 170px;
  padding: 70px 0px 80px 0px;
}

.parteSuperior ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navegador {
  color: grey;
  text-decoration: none;
  margin: 40px;
}

.button-Contact-Us {
  cursor: pointer;
  background-color: #072AC8;
  border: none;
  padding: 10px;

  color: #FFFFFF;
  font-size: 13px;

}


/* ----------PARTE SIMPLIFY --------------*/

.headText h1 {
  font-weight: 700px;
  font-size: 60px;
  color: #292E47;
}

.headText p {
  /*Ul Design & App Development*/
  color: #6B708D;
  font-size: 24px;
}

.subtitulo {
  color: #292E47;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

/*-------PARTE IMAGEM PRINCIPAL--------*/

.imgPrincipal {
  background-image: url(/project-assets/projects-section/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 480px;
  position: relative;
  top: 60px;

}

/*----------PARTE PARAGRAFO-----------*/

.paragrafo1 {
  color: #6B708D;
  font-size: 20px;
  line-height: 150%;
  padding-top: 120px;
}

/*---------PARTE PARAGR PROJETOS---------*/

.secondTitle {
  padding-top: 10px;
  font-size: 30px;
}

/*----------PARTE DAS 3 IMAGENS PROJETOS-------*/

#Projects_Id {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.as3Colunas {
  display: flex;
  flex-direction: column;

}

.medidas3Fotos {
  height: 240px;
  width: 340px;
}


.colunasText {
  background-color: white;
  height: 200px;
  width: 340px;
}

.colunasText h3 {
  margin: 0px;
  padding: 30px 0px 0px 30px;
}

.colunasText p {
  padding-left: 30px;
}

.button-learn-more {
  font-size: 15px;
  line-height: 100px;
  padding-left: 30px;
  text-decoration: none;

}

/*-------Box Yellow-------*/
#boxYellow {
  background-color: #FFC600;
  margin: 80px;
  height: 500px;
  width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#boxYellow h3 {
  font-size: 38px;
  margin-bottom: 10px;
}

#boxYellow p {
  font-size: 18px;
  margin-bottom: 50px;
}

#email {
  padding: 15px;
  width: 400px;
}

#botton {
  background-color: #072AC8;
  color: white;
  padding: 15px;
  width: 140px;
}

/*-------------FOOTER-----------*/
footer {
  margin: 40px 100px 30px 100px;
  color: rgba(107, 112, 141, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 9px;
}
.footer-selectors a {
  text-decoration: inherit;
  color: inherit;
  width: 33%;
  font-size: 11px;
}

.footer-selectors {
  display: flex;
  flex-direction: column;

  width: 47%;
}
.footer-selectors div {
  display: flex;
  justify-content: space-between;
}

.footer-selector-down {
  margin-top: 25px;
}