html,
body {
  font-family: 'Roboto';
  font-style: normal;
  background-color: #F4F6FC;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 170px;
}

#parteSuperior li {
  display: inline;
  margin-left: 130px;
 
}

.navegador {
  color: grey;
  text-decoration: none;
  margin-left: 70px;
}

.button-Contact-Us {
  background-color: #072AC8;
  border: none;
  padding: 10px;

  color: #FFFFFF;
  font-size: 13px;
  margin-left: 115px;
}


/* ----------PARTE SIMPLIFY --------------*/

.headText h1 {
  font-weight: 700px;
  font-size: 60px;
  color: #292E47;
}

.headText p {
  /*Ul Design & App Development*/
  color: #6B708D;
  font-size: 24px;
}

.headText span {
  color: #292E47;
  font-size: 20px;

  margin-left: 600px;
}

/*-------PARTE IMAGEM--------*/

.imgPrincipal {
  background-image: url(/project-assets/projects-section/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 480px;
  position: relative;
  top: 20px;

}

/*----------PARTE PARAGRAFO-----------*/

.paragrafo1 {
  color: #6B708D;
  font-size: 20px;
  line-height: 150%;
  padding-top: 60px;
}

/*---------PARTE3 PROJETOS---------*/

.secondTitle {
  padding-top: 10px;
  font-size: 30px;
}

/*----------PARTE DAS 3 IMAGENS-------*/

#otherProjects {
  padding: 30px 10px 0px 10px;
  
}

.orbitFoto {
  width: 340px;
  height: 240px;
}

/*.div-simplify,
.div-dashcoin,*/
.orbitText {
  width: 340px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  
}

.orbitText h3{
  margin: 0px;
  padding: 30px 0px 0px 30px;
}

.orbitText p {
  padding-left: 30px;
}

.button-learn-more {
  font-size: 15px;
  line-height: 100px;
  padding-left: 30px;
  text-decoration: none;

}