
body {
  font-family: "Roboto";
  font-style: normal;
}

header {
  margin: 60px 100px 80px 100px;
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-selectors-up a {
  text-decoration: inherit;
  color: inherit;

  font-size: 14px;
  color: rgba(107, 112, 141, 1);
}
.header-selectors-up {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}




.button-Contact-Us {
  height: 40px;
  width: 120px;
  background: #072ac8;
  color: white;
  font-size: 15px;
  outline: auto;
}

form {
  color: rgba(107, 112, 141, 1);

  margin: 0px 100px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: black;
  margin-top: 40px;
}

.full-name {
  margin-top: 30px;

  font-size: 20px;
  display: flex;
  flex-direction: column;
}

#hole-full-name {
  font-size: 15px;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(228, 235, 240);
  border: 0px;
}

.email-phone {
  margin-top: 20px;

  font-weight: 400;
  font-size: 20px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.email {
  display: flex;
  flex-direction: column;

  width: 45%;
}

.phone {
  display: flex;
  flex-direction: column;

  width: 45%;
}

#hole-email {
  font-size: 15px;
  padding-left: 16px;

  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(228, 235, 240);
  border: 0px;
}
#hole-phone {
  font-size: 15px;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(228, 235, 240);
  border: 0px;
}

.mesagge {
  margin-top: 20px;

  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
}
#hole-mesagge {
  font-size: 15px;
  padding-left: 16px;
  padding-bottom: 130px;
  padding-top: 10px;
  background-color: rgb(228, 235, 240);
  border: 0px;
  overflow: auto;
}

#boton {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  background: #072ac8;
  color: white;
  font-size: 20px;
  outline: auto;
}

footer {
  margin: 40px 100px 30px 100px;
  color: rgba(107, 112, 141, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 9px;
}
.footer-selectors a {
  text-decoration: inherit;
  color: inherit;
  width: 33%;
  font-size: 11px;
}

.footer-selectors {
  display: flex;
  flex-direction: column;

  width: 47%;
}
.footer-selectors div {
  display: flex;
  justify-content: space-between;
}

.footer-selector-down {
  margin-top: 25px;
}

@media (max-width: 667px) {
  .email-phone {
    flex-direction: column;
  }
  form {
    margin: 0px 20px;
  }
  .email {
    width: 100%;
  }
  .phone {
    width: 100%;
    margin-top: 20px;
  }
  footer {
    margin: 30px 20px 30px 20px;
  }
  header {
    margin: 30px 20px 40px 20px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  nav label {
    width: 30px;
    height: 30px;
    font-size: 32px;
    color: #072ac8;
    cursor: pointer;
    position: absolute;
    top: 15px;
  }
  
  nav input {
    width: 30px;
    height: 30px;
    margin: 0px;
    cursor: pointer;
    opacity: 0; /*para ocultar el check-box*/
    position: absolute;
    top: 15px;
  }
  
  nav input[type="checkbox"]:checked ~ ul {
    animation: fadein 1s forwards;
    display: block;
  }
  
  nav ul {
    display: none;
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 55px;
  }
  
  nav a {
    cursor: pointer;
    text-decoration: none;
  }
  
  .nav-a-color1 {
    color: #072ac8;
    font-size: 12px;
    font-weight: 500;
    line-height: 22.1px;
  }
  
  .nav-a-color2 {
    color: #6b708d;
    font-size: 12px;
    font-weight: 500;
    line-height: 22.1px;
  }
  

}


