/*html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
}

header {
  background-color: #f2f4fc;
  height: 80px;
  padding: 10px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle-logo-dimensions {
  width: 60.53px;
  height: 18.46px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*para hacer hamburguesa
nav label {
  width: 30px;
  height: 30px;
  font-size: 32px;
  color: #072ac8;
  cursor: pointer;
  position: absolute;
  top: 25px;
}

nav input {
  width: 30px;
  height: 30px;
  margin: 0px;
  cursor: pointer;
  opacity: 0; 
  position: absolute;
  top: 35px;
}

nav input[type="checkbox"]:checked ~ ul {
  animation: fadein 1s forwards;
  display: block;
}

nav ul {
  display: none;
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: 45px;
}

nav li {
  height: 18px;
}

nav a {
  cursor: pointer;
  text-decoration: none;
}


.nav-a-color1 {
  color: #072ac8;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.1px;
}

.nav-a-color2 {
  color: #6b708d;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.1px;
}
*/

body {
  font-family: "Roboto";
  font-style: normal;
}
form {
  color: rgba(107, 112, 141, 1);
  background-color: crimson;
  margin: 0px 100px;
}

h1 {
  font-weight: bold;
  font-size: 40px;

  margin-top: 40px;
}

.full-name {
  margin-top: 30px;

  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

#hole-full-name {
  font-size: 15px;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(228, 235, 240);
  border: 0px;
}

.email-phone {
  margin-top: 20px;

  font-weight: 400;
  font-size: 20px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.email {
  display: flex;
  flex-direction: column;

  background-color: aqua;
  width: 45%;
}

.phone {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  width: 45%;
}

#hole-email {
  font-size: 15px;
  padding-left: 16px;

  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(228, 235, 240);
  border: 0px;
}
#hole-phone {
  font-size: 15px;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(228, 235, 240);
  border: 0px;
}

.mesagge {
  margin-top: 20px;

  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
#hole-mesagge {
  font-size: 15px;
  padding-left: 16px;
  padding-bottom: 130px;
  padding-top: 10px;
  background-color: rgb(228, 235, 240);
  border: 0px;
}

#boton {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  background: #072ac8;
  color: white;
  font-size: 20px;
}
@media (max-width: 667px) {
  .email-phone {
    flex-direction: column;
  }
  form {
    margin: 0px 20px;
  }
  .email {
    width: 100%;
  }
  .phone {
    width: 100%;
    margin-top: 20px;
  }
}

/* para la version desktop
  header button {
    cursor: pointer;
    background-color: #072AC8;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    line-height: 22.1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 33px;
    padding-right: 33px;
    border: none;
  }
  */
